/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/storage
/.idea
/.vagrant
/packages
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php